<h1>Hello World!</h1>
<p>Welcome to my page!</p>

<% if user_signed_in? %>
  <h2> Hello <%= current_user.email %> </h2>
  <%= button_to 'Sign out', destroy_user_session_path, method: :delete, data: { confirm: 'Are you sure you want to sign out?' }, class: 'btn btn-danger' %>
<% else %>
  <%= link_to 'Sign in', new_user_session_path, class: 'btn btn-primary' %>
<% end %>